.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}


.img-responsive {

    width: 276px;
    height: 400px;
    object-fit: cover;

}

body {

    background-color: black !important;


}


.input-class {


    padding: 20px;
    margin: 20px;

}


.input-button {

    padding: 40px;
    margin-top: 15px;

}



.MenuStilo {

    top: 110% !important;
    margin: 0px !important;

}


.gallery-scroll {
    overflow-y: scroll;
    height: 85vh;
}

.backgroud-idiomas-esp {
    width: 60px;
    background-size: cover;
}

.backgroud-idiomas-engla {
    width: 70px;
    background-size: cover;
}

.barra {
    padding: 18px;
}